.create {
  color: #555;
  max-width: 480px;
  margin: 60px auto;
}

.create label span { 
  display: block; 
  margin: 30px 0 10px;
}

/* .create p {
  margin-top: 10px;
  font-size: 0.8em;
} */

.create button {
  /* display: block; */
  /* width: 100px; */
  /* font-size: 1em; */
  color: #fff;
  border: 0;
  border-radius: 4px;
  background-color: #e37b49;
  cursor: pointer;
  text-decoration: none;
}
.btn {
  font-size: 1em;
  margin: 20px auto;
  padding: 8px 20px;
}
.ingredients {
  display: flex;
  align-items: center;
}
.ingredients button {
  margin: 0 0 0 10px;
}
.ingredient-list{
  margin-top: 4px;
  font-size: 0.8em;

}
.ingredient{
  /* align-content: center; */
  margin: 2px 4px;
  padding: 2px 4px; 
  display: inline-flex;
  color: #fff;
  background-color: #e37b49;
  border-radius: 4px;
}

.sub-div {
  display: flex;
  justify-content: center;
}
.sub-div button {
  font-size: 1em;
  padding: 8px 20px;
  margin: 20px auto;
}
.ing-btn {
  margin-left: 5px;
}
.ing-btn:hover {
  background-color: #a00000;  
}